:root {
/* Générales */
* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pour insérer du texte dans l'image */
.image-container {
  position: relative;
}

/* Ajustement des tailles de polices pour les titres et textes */
h1 {
  font-size: 6vw;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

.text {
  font-size: 15px;
}

footer {
  font-size: 14px;
}

.nav-item {
  font-size: 14px;
}

/* Soulignement lors du survol dans le header */
.underline-hover:hover {
  text-decoration: underline;
}

.icon-dark {
  color: #555; /* Gris foncé */
}

}

/* Au survol des icônes dans le footer */
.social-icons i:hover {
  color: #fff;
}

/* Au survol, la police devient plus foncée dans le footer */
.hover-bold:hover {
  font-weight: bold;
}

/* Modal */
.modal {
  z-index: 1060;
}

.content::after {
  content: "";
  display: block;
  border-bottom: 1px solid #3c3c3c; /* Ligne de séparation */
  margin-top: 10px; /* Espace au-dessus de la ligne */
}

/* Section générale */
section p {
  font-size: 10px;
}

/* Page portfolio */
.custom-small-font {
  font-size: 0.8rem;
}

/* Polices du texte des cards */
.card-text {
  font-size: 11px;
}

/* Police des pieds de page des cards */
.card-footer {
  font-size: 11px;
}

/* Page contact */
section p.text-center {
  font-size: 12px;
}

/* Changement de la couleur de la card au survol */
.hover-card:hover {
  background-color: #efefef;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Changement de la couleur du bouton au survol */
.btn-primary:hover {
  background-color: #66b3ff;
  border-color: #66b3ff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
}